@model IEnumerable<ParkingApp.Models.Space>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Search";
   // Layout = "_Layout";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ParkingApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Rent & Earn </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark disabled" asp-area="" asp-controller="SpacesO" asp-action="Index">Book A Space </a>
                    </li>
                   
                   @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                    </li>*@
                    
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
<div class="searchbar">
<form method="get" asp-action="search" placeholder="Select">
    <p> 
        <select class="selectarea" value="@ViewData["GetListofArea"]" name="Areasearch">
            <optgroup label="Badagry Division">
                <option value="" disabled selected hidden>Select Area</option>
                <option value="Ajeromi-Ifelodun">Ajeromi-Ifelodun</option>
                <option value="Amuwo-Odofin">Amuwo-Odofin</option>
                <option value="Badagry">Badagry</option>
                <option value="Ojo">Ojo</option>
            </optgroup>
            <optgroup label="Epe Division">
                <option value="Epe">Epe</option>
                <option value="Ibeju-Lekki">Ibeju-Lekki</option>
            </optgroup>
            <optgroup label="Ikeja Division">
                <option value="Agege">Agege</option>
                <option value="Alimosho">Alimosho</option>
                <option value="Ifako-Ijaiye">Ifako-Ijaiye</option>
                <option value="Ikeja">Ikeja</option>
                <option value="Kosofe">Kosofe</option>
                <option value="Mushin">Mushin</option>
                <option value="Oshodi-Isolo">Oshodi-Isolo</option>
                <option value="Somolu">Somolu</option>
            </optgroup>
            <optgroup label="Ikorodu Division">
                <option value="Ikorodu">Ikorodu</option>
            </optgroup>
            <optgroup label="Lagos Division">
                <option value="Apapa">Apapa</option>
                <option value="Eti-Osa">Eti-Osa</option>
                <option value="Lagos-Island">Lagos Island</option>
                <option value="Surulere">Surulere</option>
            </optgroup>
        </select>
        <input type="submit" value="Search" class="btn btn-success" />
    </p>

 </form>
</div>

<main class=" d-flex flex-wrap">
     
            @foreach (var item in Model)
            { 
               
                 <div class="park_detail">
                    <div class="park_detail_left">
                        <img src="/Img/emptyPark.jpg" alt="image of location">
                    </div>
                    <div class="park_detail_right" >

                        <h4 class="fw-bold" style="text-decoration:none;">
                            <a asp-controller="Bookings" asp-action="Create">
                                @Html.DisplayFor(modelItem => item.Address)
                            </a>
                        </h4>

                        <h4 style="color: green;">  @Html.DisplayFor(modelItem => item.Status) </h4>
                     @*   <br>*@
                        <h4>Parking fee: N @Html.DisplayFor(modelItem => item.Daily_Parking) </h4>
                        
                    </div>
                </div>
                }  
</main>

