@model IEnumerable<ParkingApp.Models.Space>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Search";
   // Layout = "_Layout";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ParkingApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Rent & Earn </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark disabled" asp-area="" asp-controller="SpacesO" asp-action="Index">Book A Space </a>
                    </li>
                   
                   @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                    </li>*@
                    
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

 
<main class="park">
     
            @foreach (var item in Model)
            { 
                <div class="">
                 <div class="park_detail">
                    <div class="park_detail_left">
                        <img src="/Img/emptyPark.jpg" alt="image of location">
                    </div>
                    <div class="park_detail_right" >

                        <h4 class="fw-bold" style="text-decoration:none;">
                            <a asp-controller="Booking" asp-action="Index">
                                @Html.DisplayFor(modelItem => item.Address)
                            </a>
                        </h4>

                        <h4 style="color: green;">  @Html.DisplayFor(modelItem => item.Status) </h4>
                     @*   <br>*@
                        <h4>Parking fee: N @Html.DisplayFor(modelItem => item.Daily_Parking) </h4>
                        
                    </div>
                </div>
                </div>
                }  
</main>

