@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div id="forgotpassword">
    <div class="signup">
        <form id="form_id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="signup_1">

                <h3>Your email is needed to reset password</h3>
            </div>

            <div class="forgotpassword">
                <h2>Forgot Password</h2>
                <div class="form-floating">
                    <input asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true" />
                    @*<label asp-for="Input.Email" class="form-label"></label>*@
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <br />
                </div>
                <div>
                    <button type="submit" id="btn_id" class="">Reset Password</button>
                    <p>Remember password? &nbsp; <a asp-area="Identity" asp-page="/Account/Login"> Sign In</a> </p>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
